.circle {
    background: #456BD9;
    clip-path: circle(50%);
    height: 10em;
    width: 10em;
    margin: 20px auto;
  }
  body{
    background-image: url(https://i.pinimg.com/originals/cd/60/3f/cd603f1417a9dadac261c2c33a3e8271.jpg);
    background-color: #cccccc;
    height: 790px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }