.circle {
    background: #456BD9;
    clip-path: circle(50%);
    height: 10em;
    width: 10em;
    margin: 20px auto;
  }
  body{
    background-image: url(https://i-ngoisao.vnecdn.net/2015/04/12/s-8871-1428800065.jpg);
    background-color: #cccccc;
    height: 790px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }